*.a
*.o
*.1
*.3
*.texi
*.pod
*.log
*.o.*
*.d
*.def
*.dll
*.dylib
*.exe
*.exp
*.gcda
*.gcno
*.h.c
*.ilk
*.lib
*.pc
*.pdb
*.so
*.so.*
*.swp
*.ver
*.version
*.metal.air
*.metallib
*.metallib.c
*.ptx
*.ptx.c
*.ptx.gz
*_g
\#*
.\#*
config.mak
config.fate
fate.txt
print_options
/.config
/.config.log
/.version
/ffmpeg
/ffplay
/ffprobe
/config.asm
/config.h
/config_components.h
/coverage.info
/lcov/
/src
/mapfile
/tools/python/__pycache__/